.remove-row{
	background:#FFF url(delete.gif) no-repeat;
	float:right;
	width:20px;
	height:20px;
	font-size:20px;
	color:transparent;
}
.remove-row:hover{
	background-color:#DDD;
}
body{
	width:650px;
	margin:auto;
}
#sourceArea,#fileArea{
	width:300px;
	float:left;
	padding:12px;
}
#sourceArea input,#fileArea input{
	width:300px;
}
#sourceArea textarea,#fileArea textarea{
	background-color:#ddd;
	width:300px;
	height:160px;
}
#sourceArea label{
}
#fileArea{
	float:left;
}
