.button{
	float:left;
	clear:both;
	background:url('../images/sprite-x/left.png') no-repeat;
}
.button div{
	background:url('../images/sprite-x/right[r].png') no-repeat top right;
}
.button div div{
	background:url('../images/sprite-x/center[x].png');
	margin:0 2px;
	padding:5px 10px;
	height:20px;
	
}


.box{
	clear:both;
	float:left;
}
.box-head{
	background:url('../images/sprite-x/widget-head[x].png');
	height:27px;
	padding-left:20px;
}
.box-body{
	border:1px solid rgb(168,191,96);
	background:#FFF;
	border-top:0px;
	padding:12px;
}


.message-box{
	float:left;
	clear:both;
}
.message-body{
	border:0 solid rgb(239,228,176);
	border-width:0px 2px 0 2px;
	background:rgb(255,255,185) ;
	margin:0px;
	padding:8px;
}

.message-head{
	background:url('../images/box/boxt.png') no-repeat;
}

.message-head div{
	background:url('../images/box/boxt[r].png') no-repeat top right;
}
.message-head div div{
	height:15px;margin:0 14px;
	background:rgb(255,255,185) ;
	border-top:1px solid rgb(239,228,176);
}
.message-foot{
	background:url('../images/box/boxb.png') no-repeat left bottom;
}
.message-foot div{
	background:url('../images/box/boxb[r].png') no-repeat right bottom;
}

.message-foot div div{
	height:16px;margin:0 14px;
	color:red;
	background:rgb(255,255,185) ;
	border-bottom:1px solid rgb(239,228,176);
	position:relative;
}

.message-foot div div div{
	border:0;
	background:url('../images/box/boxa.png');
	position:absolute;
	top:16px;left:0;
	height:16px;width:22px;
}









h3{clear:both;padding:20}
body{
	background:#444;
}