#baidu{
	background:url('/images/sprite-x/baidu.gif');
}
#sina{
	background:url('/images/sprite-x/sina.gif');
	height:50px;
}
#sina-x{
	background:url('/images/sprite-x/sina[x].gif');
	height:50px;
}
#sina-y{
	background:url('/images/sprite-y/sina[y].gif');
	height:350px;
}
#sina-r{
	background:url('/images/sprite-y/sina[r].gif') right;
	height:50px;
}
#google{
	background:url('/images/sprite-y/google.png');
	/*width:380;height:200px;*/
}
body{
	background:#444;
}
div{
	width:450px;height:200px;
	border:1px solid red;
}