<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">
	<servlet>
		<servlet-name>litecompiler</servlet-name>
		<servlet-class>
			org.xidea.lite.compiler.LiteCompilerServlet
		</servlet-class>
		<init-param>
			<param-name>javax.xml.transform.TransformerFactory</param-name>
			<param-value>
				org.apache.xalan.processor.TransformerFactoryImpl
			</param-value>
		</init-param>
		<init-param>
			<param-name>javax.xml.xpath.XPathFactory</param-name>
			<param-value>
				org.apache.xpath.jaxp.XPathFactoryImpl
			</param-value>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>XMLTemplate</servlet-name>
		<servlet-class>
			org.xidea.lite.servlet.TemplateServlet
		</servlet-class>
		<init-param>
			<param-name>javax.xml.transform.TransformerFactory</param-name>
			<param-value>
				org.apache.xalan.processor.TransformerFactoryImpl
			</param-value>
		</init-param>
		<init-param>
			<param-name>javax.xml.xpath.XPathFactory</param-name>
			<param-value>
				org.apache.xpath.jaxp.XPathFactoryImpl
			</param-value>
		</init-param>
		<init-param>
			<param-name>compress</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<param-name>http://www.xidea.org/ns/lite/autoform</param-name>
			<param-value>form</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>litecompiler</servlet-name>
		<url-pattern>/litecompiler</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>litecompiler</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>XMLTemplate</servlet-name>
		<url-pattern>*.xhtml</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.xhtml</welcome-file>
	</welcome-file-list>
</web-app>
