html,body {
	color: #000;
	background: #FFF;
	overflow:hidden;
	width:100%;
	height:100%;
}
code{
	background:#ddd;
	margin:12px;
}

body,div,dl,dt,dd,ol,h1,h2,h3,h4,h5,h6,pre,code,
form,fieldset,legend,input,button,textarea,p,blockquote,th,td {
	margin: 0;
	padding: 0;
}

h1,h2,h3,h4,h5,h6 {
	font-weight: blod;
	margin-top:4px;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

fieldset,img {
	border: 0;
}

address,caption,cite,code,dfn,em,var,optgroup {
	font-style: inherit;
	font-weight: inherit;
}

del,ins {
	text-decoration: none;
}


caption,th {
	text-align: left;
}

q:before,q:after {
	content: '';
}

abbr,acronym {
	border: 0;
	font-variant: normal;
}

sup {
	vertical-align: baseline;
}

sub {
	vertical-align: baseline;
}

/*because legend doesn't inherit in IE */
legend {
	color: #000;
}

input,button,textarea,select,optgroup,option {
	font-family: inherit;
	font-size: inherit;
	font-style: inherit;
	font-weight: inherit;
}

/*@purpose To enable resizing for IE */
/*@branch For IE6-Win, IE7-Win */
input,button,textarea,select {
	*font-size: 100%;
}

/*Custom css*/
a:link{
    color:#0479A7;
    text-decoration:none;
}

a:visited,a:active,a:focus{
    text-decoration:none;
    color:#0479A7;
}

a:hover{
    text-decoration:underline;
}


.dialog{
  display:none;
  position:absolute;
  margin:auto;
  top:0px;
  left:0px;
  padding:auto;
  width:100%;
  height:100%;
  z-index:100;
}
.dialog .mask{
  position:absolute;
  top:0px;
  left:0px;
  width:100%;
  height:100%;
  background:#F1F6F8;;
  filter:alpha(opacity=50);
  opacity:0.6;
}

#exampleRunner{
    position:absolute;
	left:50%;
	top:2%;
	margin:0 0 0 -340px ;
	width:680px;
	border:1px solid #330;
	background:#EEE;
}
#exampleRunner .head{
	height:20px;
	color:#FFF;
	background:#330;
	
}
#exampleRunner .head .close{
	float:right;
	width:16px;
	height:16px;
	font-weight:bold;
	font-size:16px;
	line-height:16px;
	color:#FFF;
	padding:0 0 0 3px;
	font-family:Arial, Helvetica, sans-serif;
	margin:1px;
	border:1px solid #FFF;
	cursor:pointer;
}

#exampleRunner .CodeMirror-scroll {
	max-height:160px;
}
#exampleRunner .templateSource, #exampleRunner .jsonSource, #exampleRunner .resultSource{
	float:left;
	border-top:0;
	border:1px solid #000;
	margin:1px;
	width:676px;
}
#exampleRunner .resultSource h5{
	background:#737;
}
#exampleRunner h5{
	padding-left:20px;
	background:#777;
	color:#FFF;
}
#exampleRunner .toolbar{
	float:right;
	padding:3px 20px 0 0;
}
/* menu */
#menu{
  position:absolute;
  right:28px;
  top:15px;
  height:100%;
  overflow:hidden;
  border:1px solid #ECF1F3;
  width:210px;
  background:#F1F6F8;
  padding:6px 0;
  cursor:move;
}
#menu .menuInner{
  height:100%;
  overflow:auto;
  margin-right:-20;
  width:230px;
  height:100%;
  cursor:s-resize;
  
}
#menu h3{
    font-size:14px;
    font-weight:700;
    padding:5px 10px;
}

#menu ul{
    padding-left:30px;
}

#menu li{
    padding:3px 0;
    font-size:12px;
	list-style: none;
}

#menu a.current{
	background:yellow;
	margin: 3px -8px;
	font-weight:bold;
}
#menu a.current:before{
	content:'->'
}
#menu a.missed{
	color:#333;
}

#header{
  height:110px;
  margin-bottom:20px;
  overflow:hidden;
}
#header .logo{
   position:relative;
   top:1px;
   left:10px;
   cursor:pointer;
}
#header .logo div{
	position:absolute;
	background:#048;
	font-size:1px;
}
#header .line{
   margin-left:80px;   
   margin-top:4px;    
   border-bottom:5px solid #033;
}
#header h1{
    font-size:28px;
    font-weight:700;
    height:28px;
    padding:14px 100px;
}
/* body */
#main{
  clear:both;
  position: relative;
  width:100%;
  height:100%;
  overflow:auto;
  padding:0;
  margin:0;
}
/*content*/
#content{
  padding:5px 0; 
  margin-top: -40px;
  margin-right:240px;
  margin-left:70px;
}

#content h2,
#content h3,
#content h4{
    font-weight:700;
    margin:35px 15px 5px;
    padding:2px 5px;
}
#content h2{
    font-size:18px;
    border-bottom:3px solid #E2E1DE;
}
#content h3{
    font-size:16px;
    border-bottom:2px solid #E2E1DE;
}
#content h4{
    font-size:12px;
}
#content p,
#content ul{
    font-size:14px;
    margin:20px 0px;
}
#content p{
    text-indent:30px;
}
#content ul li{
    margin:10px 0;
}


.code {
	background-color: #EEEEEE;
	border-radius: 6px 6px 6px 6px;
}

.code .runner{
	position:relative;
	top:-20px;
	right:5px;
	height:18px;
	width:38px;
	font-weight:bold;
	padding:0 5px 0 15px;
	float:right;
	/*border:1px solid red;*/
	background-color: #330;
	color:#FFF;
	border-radius: 3px 3px 3px 3px;
	cursor:pointer;
}
#resultLoader{
	border-radius: 8px;
	background-color: #494;
	padding:15px;
	display:none;
	color:#FFF;
}

.api .runner{
	background-color: #330;
	color:#FFF;
	padding:0 5px 0 5px;
	border-radius: 3px 3px 3px 3px;
	cursor:pointer;
}
.api .runner:after {
	content:"示例...";
}
.top-box{
	position:absolute;top:20px;right:280px;
	font-size:12px;
}
.i18n_zh,.i18n_en{
	color:#0479A7;
	cursor:pointer;
	padding-bottom:6px;
}
.i18n_zh .i18n_zh , .i18n_en .i18n_en{
	color:#000;
	font-weight:bold;
	cursor:not-allowed;
	
	
}